body {
  margin: 0;
  background-color: #000;
  font-family: Roboto,'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_link{
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 20px;
  color: #000;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.logo__png{
  display: block;
  width: 40;
  height: 40;
  top: 10px;
  left: 50px;
  opacity: 1;
}

.apple{
  color: #00ACDC;
}
